.primary{
    color:#FB2F79
}

.secondary{
  color:#45ECE7
}

.accent{
    color:#6818F3
}

.neutral{

    color:#F9EC19
}

.info{
    color:#FD750A
}

.success{
    color:#06E1E1
}

.error{
    color:#176f6b
}
